.dialogsItemsWrap {
    display: flex;
    margin: 5px 0;
}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: gold;
}
.dialogsItems a {
    text-decoration: none;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    max-width: 100%;
}