.nav {
    grid-area: nav;
    background: #89bfee;
}
.item {
    padding: 5px 10px;
    color: #fff;
}
.itemLink {
    text-decoration: none;
    color: #fff;
}
.itemLink.active {
    color: gold;
}
